body{
  font-family: "Proxima Nova", Helvetica, Arial;
  margin: 0;
}
p{
  margin-top: 0;
}
h1, h2, h3{
  margin-bottom: 0.5em;
}
*{
  box-sizing: border-box;
}

.Page{
  max-width: 95%;
  margin: 0 auto;
  background: hsl(0, 0%, 92%);
  padding: 1.5em;
}

.Todos{
  ul{
    padding: 0;
  }
  .done{
    color: #ccc;
    text-decoration: line-through;
    background: #ddd;
  }
  .tags{
    font-size: 0.750em;
    padding-top: 0.25em;
    span{
      //padding: 0.5em;
      margin-right: 0.75em;
      color: #aaa;
    }
  }
}
.Todos-item{
  margin-bottom: 0.75em;
  padding: 0.25em 0.50em;
  list-style: none;
  border: 1px solid #ccc;
}

.UserCard{
  padding: 1.5em;
  margin-bottom: 1.5em;
}


input, select, textarea{
  &.ng-dirty.ng-valid{
    border: 2px solid green;
  }
  &.ng-dirty.ng-invalid{
    border: 2px solid red;
  }
}
